global
        ulimit-n 51200

defaults
        mode    tcp
        option  dontlognull
        timeout connect 1000
        timeout client 15000
        timeout server 15000

frontend in
        bind *:8000
        default_backend out



backend out
        server server1 $inIp:$inPort maxconn 20480
